body{
  background-color: rgba(110, 0, 0, 0.719);
  color: rgb(254, 253, 253);

}
.entre{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
position: relative;
left: 10%;

}
.inscription {
  grid-column: 1 / 3;
  grid-row: 3;
}
.connexion{
  padding: 10px;
  grid-column: 2/3;
  grid-row: 3;
}
.bienvenu{
  position: relative;
  left:40%;
}

.menu{
list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  position: relative;
  left: 5%;
}

.menu li:hover{
  color: #ef2525;
}


.deconnect{
  grid-column: 1/3;
  grid-row: 1;
  background-color: brown;

}

.affichage{
  display: grid;
grid-template-rows: repeat(1, 1fr);
grid-gap: 10px;
}

.message{
  width: 400px;
  margin: 0 auto;
  text-align: center;
}

.border{
  border: 2px solid rgb(242, 242, 242);
  background-color: rgb(0, 0, 0);
  color : rgb(255, 255, 255);
  padding: 90px 70px 80px 55px;
  overflow-y: scroll;
  height: 300px;

}
.name{
text-align: center;

}

.msg{
  display: inline-block;
  position: relative;
  right:  22px;
}
.text{
  position: relative;
  width: 350px;
}

.send{
  width: 48px;
  height: 37px;
  position: fixed;
background-color: blue;
}
.send:hover{
  background-color: rgb(88, 0, 0);
  color: rgb(255, 255, 255);
}

.user{
 color : rgb(196, 99, 99);
}

.acceuil{
  background-color: blue;
}

table, th, td {
  color :rgb(255, 255, 255);
}

table{
  overflow-y: scroll;
  border: 1px solid black;
  padding: 5px;
  margin: 10px;
}
th, td {
  border-bottom: 1px solid rgb(255, 255, 255);
}
tr:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(233, 221, 217);
}

.historique{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1px;
  display: inline-flex;
  
}
